html, body {
  height: 100%;
  width: 100%;
}

.flashcard {
box-sizing: border-box;
align-content: center;
width: 600px;
height: 400px;


background: #FFFFFF;
border: 10px solid #0094FF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 36px;
}

.flashcard_content {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
}

span {
  
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  line-height: normal;
}

table {
  
  width: 60%;
  height: 80%;
}

th {
	font-weight: normal;
}

.tg-0pky {
	text-align: center;
}

button {
	width: 200px;
	height: 50px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.star {
	align: center;
	width: 30px;
	height: 30px;
}

.bt_n {
	align: right;
	background-color: #FF6550; /* Green */
	color: black;
}

.bt_y {
	align: left;
	background-color: #7DDE7B; /* Red */
	color: black;
}